In [5]:
import seaborn as sns
tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [15]:
tips['size'].drop_duplicates().sort_values()

67     1
0      2
1      3
4      4
142    5
125    6
Name: size, dtype: int64

In [16]:
df = tips.groupby(['smoker','day',"size"]).count()
df

                  total_bill  tip  sex  time
smoker day  size
Yes    Thur 1              0    0    0     0
            2             13   13   13    13
            3              2    2    2     2
            4              2    2    2     2
            5              0    0    0     0
            6              0    0    0     0
       Fri  1              1    1    1     1
            2             13   13   13    13
            3              0    0    0     0
            4              1    1    1     1
            5              0    0    0     0
            6              0    0    0     0
       Sat  1              1    1    1     1
            2             28   28   28    28
            3              6    6    6     6
            4              6    6    6     6
            5              1    1    1     1
            6              0    0    0     0
       Sun  1              0    0    0     0
            2             12   12   12    12
            3              4    4    4     4
            4              2    2    2     2
            5              1    1    1     1
            6              0    0    0     0
No     Thur 1              1    1    1     1
            2             35   35   35    35
            3              2    2    2     2
            4              3    3    3     3
            5              1    1    1     1
            6              3    3    3     3
       Fri  1              0    0    0     0
            2              3    3    3     3
            3              1    1    1     1
            4              0    0    0     0
            5              0    0    0     0
            6              0    0    0     0
       Sat  1              1    1    1     1
            2             25   25   25    25
            3             12   12   12    12
            4              7    7    7     7
            5              0    0    0     0
            6              0    0    0     0
       Sun  1              0    0    0     0
            2             27   27   27    27
            3             11   11   11    11
            4             16   16   16    16
            5              2    2    2     2
            6              1    1    1     1

In [17]:
df.index

MultiIndex([('Yes', 'Thur', 1),
            ('Yes', 'Thur', 2),
            ('Yes', 'Thur', 3),
            ('Yes', 'Thur', 4),
            ('Yes', 'Thur', 5),
            ('Yes', 'Thur', 6),
            ('Yes',  'Fri', 1),
            ('Yes',  'Fri', 2),
            ('Yes',  'Fri', 3),
            ('Yes',  'Fri', 4),
            ('Yes',  'Fri', 5),
            ('Yes',  'Fri', 6),
            ('Yes',  'Sat', 1),
            ('Yes',  'Sat', 2),
            ('Yes',  'Sat', 3),
            ('Yes',  'Sat', 4),
            ('Yes',  'Sat', 5),
            ('Yes',  'Sat', 6),
            ('Yes',  'Sun', 1),
            ('Yes',  'Sun', 2),
            ('Yes',  'Sun', 3),
            ('Yes',  'Sun', 4),
            ('Yes',  'Sun', 5),
            ('Yes',  'Sun', 6),
            ( 'No', 'Thur', 1),
            ( 'No', 'Thur', 2),
            ( 'No', 'Thur', 3),
            ( 'No', 'Thur', 4),
            ( 'No', 'Thur', 5),
            ( 'No', 'Thur', 6),
            ( 'No',  'Fri', 1),
            ( 'No',  'Fri', 2),
            ( 'No',  'Fri', 3),
            ( 'No',  'Fri', 4),
            ( 'No',  'Fri', 5),
            ( 'No',  'Fri', 6),
            ( 'No',  'Sat', 1),
            ( 'No',  'Sat', 2),
            ( 'No',  'Sat', 3),
            ( 'No',  'Sat', 4),
            ( 'No',  'Sat', 5),
            ( 'No',  'Sat', 6),
            ( 'No',  'Sun', 1),
            ( 'No',  'Sun', 2),
            ( 'No',  'Sun', 3),
            ( 'No',  'Sun', 4),
            ( 'No',  'Sun', 5),
            ( 'No',  'Sun', 6)],
           names=['smoker', 'day', 'size'])